header(class='header')
    div()
        h1 
            a(href='./',class='logo') ProductsShops
    div(class='header-center')
         form(action='/serch', method='POST')
             input(name = 'text',type = 'text')
             input(type='submit')
    div(class='header-right')
        if user === undefined
                a(href="/reg") reg
                a(class='active',href="/log") log
        else
            if  user.role === true
                a(href="/product") add product
                a(href="/shop") add shop
                a(href="/admin" class='active') #{user.name}
                a(href="/logout") logout
            else
               a(href="/product", class='active') add product
               a(href="/logout") logout
