header
    div(class='column-1')
        h1 h1h1h1h1h1h1h1
    div(class='column-2')
         form(action='/serch', method='POST')
             input(name = 'text',type = 'text')
             input(type='submit')
    div(class='column-3')
        form(action='/reg', method='GET')
            button(class='column-3-1') reg
        form(action='/log', method='GET')
            button(class='column-3-2') log