doctype html
html
  head
    title
  body
    include header.pug
    div() 
       div()
            form(action='/product', method='POST')
                span() SHOP
                div(data-validate='Enter username')
                    h1 #{errorname}
                    input( name = 'name',type = 'text', placeholder='name')
                    span()
                div()
                    h1 #{erroraddress}
                    input(name = 'description', type = 'text', placeholder='description')
                    span()
                div()
                    h1 #{erroraddress}
                    input(name = 'price', type = 'text', placeholder='price')
                    span()
                div()
                    h1
                    select(name="nameshop")
                       each val in shops
                          option() #{val.name}
                div()
                    input( type='submit',value='registration product') 