doctype html
html
  head
    title registration
    link(rel='stylesheet',type="text/css", href='/stylesheets/login.css')
  body
    div(class ='limit')
        div(class='container-login100')
            form(class = 'login100-form', action='/reg', method='POST')
                span(class='login100-form-title') REGISTRATION
                h4(style="color:red")  #{error}
                div(class='wrap-input valid-input', data-validate='Enter username')
                    input(class = 'input1', name = 'username',type = 'text', placeholder='Username')
                    span(class='focus-input')
                div(class='wrap-input valid-input', data-validate='Enter login')
                    input(class = 'input1',name = 'login', type = 'text', placeholder='login')
                    span(class='focus-input')
                div(class='wrap-input valid-input', data-validate='Enter password')
                    input(class = 'input1', name = 'pass',type = 'password', placeholder='Password')
                    span(class='focus-input')
                div(class='wrap-input valid-input', data-validate='Enter password')
                    input( class = 'input1',name = 'pass1',type = 'password', placeholder='Password')
                    span(class='focus-input')
                div(class='container-login100-form-btn')
                    input(class='login100-form-btn', type='submit',value='registration') 
                h1
                div(class="ref")
                    a(href='/', class='container-login100-form-btn') home
                    a(href='/log', class='container-login100-form-btn') login