header {
    display: flex;
    width: 100%;
}
.column-1 {
    width: 34%;
    float: left;
    min-height: 100%;
}

.column-2 {
    width: 33%;
    min-height: 100%;
    float: right;
}

.column-3 {
    width: 33%;
    min-height: 100%;
    float: left;
}
.column-3-1 {
    width: 50%;
    min-height: 100%;
    float: left;
}
.column-3-2 {
    width: 50%;
    min-height: 100%;
    float: left;
}
